mat-form-field {
    margin-right: 12px;
  }
  h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  .pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    background-color: #f5f5f5;
    padding: 15px;
  }